@use '../abstract/variaveis';
@use '../abstract/mixins';

.banner{
    @include mixins.flex-d-j-a(column, center, center);
    width: 100%;
    height: 100svh;
    background-image: url('../img/banner.webp');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;

    

    &_container{ 
        height: 100%;
        width: 100%;
        @include mixins.flex-d-j-a(column, center,center);
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.685) 50%, rgba(255, 255, 255, 0.507) 100%);
        
        .info{
            @include mixins.flex-d-j-a(column, center, center);
            justify-content: center;
            padding: 0 10%;
            gap: 1rem;
            img{
                width: 150px;
            }
            
            h1{
                @include mixins.subtitulo-maiusculo();
                text-align: center;
                animation: surgir 1s ;
            }
            h2{
                @include mixins.titulo();
                font-size: 4rem;
                line-height: 5.5rem;
                font-weight: 300;
                animation: surgir 1s ;
                animation-delay: .3s;
                max-width: 100%;
            }
            
            a{
                @extend h1;
                color: variaveis.$laranja;
                border-bottom: 1px solid variaveis.$laranja;
                width: fit-content;
                animation: surgir 1s ;
                animation-delay: .6s;
                margin-top: 1rem;
                transition: .5s;

                &:hover{
                    color: variaveis.$verde;
                    border-color: variaveis.$verde;
                    transform: scale(1.01);
                }
            }

        }
        @keyframes surgir {
            0%{transform: translateY(30px); opacity: 0;}
            100%{transform: translateY(0); opacity: 1;}
        }
        .imagens{
            @include mixins.flex-d-j-a(column, center, center);
            img{
                width: 100%;
                transform: translateX(-25%);
                box-shadow: 0px 0px 10px #00000042;
                border-radius: 5px;
                max-width: 700px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .banner{
        height: auto;

        &_container{

            grid-template-columns: 1fr;
            .info{

                height: 100vh;
                h2{
                    font-size: 4rem;
                    line-height: 5rem;
                }
            }
            .imagens{
                    padding: 3rem;
                    img{
                        transform: translateX(0);

                    }                
            }
        }
    }
}

@media screen and (max-width: 668px){

    .banner{
        background-position:top;
        
        &_container{
            height: 100%;
            grid-template-columns: 1fr;
            .info{
                gap: 2rem;
                background-color: #ffffff28;
                h2{
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
            }
            .imagens{
                background-color: #FFF;
                padding: 3rem 1.5rem 0 1.5rem ;
            }
        }
    }
}