@use '../abstract/variaveis';
@use '../abstract/mixins';

.banner{
    @include mixins.flex-d-j-a(column, center, center);
    width: 100%;
    height: 100svh;
    background-image: url('../img/banner.webp');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;

    

    &_container{ 
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;

        .info{
            @include mixins.flex-d-j-a(column, center, end);
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.856);
            padding: 0 10%;
            gap: 1rem;
            img{
                width: 150px;
            }
            
            h1{
                @include mixins.subtitulo-maiusculo();
                animation: surgir 1s ;
            }
            h2{
                @include mixins.titulo();
                font-size: 5rem;
                line-height: 5rem;
                text-align: start;
                font-weight: 400;
                animation: surgir 1s ;
            }
            
            a{
                @extend h1;
                color: variaveis.$laranja;
                border-bottom: 1px solid variaveis.$laranja;
                animation: surgir 1s ;
                margin-top: 1rem;
                transition: .5s;

                &:hover{
                    color: variaveis.$verde;
                    border-color: variaveis.$verde;
                    transform: scale(1.01);
                }
            }

        }
        @keyframes surgir {
            0%{transform: translateX(30px); opacity: 0;}
            100%{transform: translateX(0); opacity: 1;}
        }
        .imagens{
            @include mixins.flex-d-j-a(row, normal, center);

            img{
                width: 80%;
                transform: translateX(-25%);
                box-shadow: 0px 0px 10px #00000042;
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .banner{

        &_container{
            .info{
                h2{
                    font-size: 4rem;
                    line-height: 5rem;
                }
            }
            .imagens{
                
                    display: none;
                
            }
        }
    }
}

@media screen and (max-width: 668px){

    .banner{
        background-position:top;
        
        &_container{
            height: 100%;
            grid-template-columns: 1fr;
            .info{
                gap: 2rem;
                background-color: #ffffffc9;
                h2{
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
            }
        }
    }
}