@use '../abstract/variaveis';
@use '../abstract/mixins';


.chamada{
    @include mixins.container();
    @include mixins.flex-d-j-a(column, center, center);
    padding: 5rem 1.5rem;

    h1{
        @include mixins.subtitulo-maiusculo();
        text-align: center;
    }
    p{
        @include mixins.titulo();
        margin: 1rem 0 3rem 0;
    }
    a{
        @include mixins.botao();
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    
    .chamada{
        p{
            font-size: 2.5rem;
            line-height: 3rem;
        }
    }
}