@use '../abstract/variaveis';
@use '../abstract/mixins';

.clientes{
    @include mixins.flex-d-j-a(row, center, center);
    width: 100%;
    padding: 0em 1.5em;
    background-color: variaveis.$cinza-claro;

    &_container{
        @include mixins.container();
        @include mixins.flex-d-j-a(column, center, end);
        width: 50%;
        
        .textos{
            @include mixins.flex-d-j-a(column, center, end);
            gap: 1rem;
            h2{
                @include mixins.subtitulo();
                font-family: "Inter", sans-serif;
                max-width: 600px;
                text-align: end;
            }
            p{
                @include mixins.textos();
                text-align: end;
            }
        }

        .imagens_container{
            @include mixins.flex-d-j-a(row, start, center);
            width: 100%;
            flex-wrap: nowrap;
            overflow: hidden;
            max-width: 500px;
            margin-top: 3rem;
            .imagens{
                @include mixins.flex-d-j-a(row, start, center);
                gap: 1rem;
                animation: 30s slide infinite linear;
                
                img{
                    width: 100px;
                }
            }

            @keyframes slide {
                0%{ transform: translateX(0);}
                100%{transform: translateX(-100%);}
            }
        }
    }
    
    &_img{
        @include mixins.flex-d-j-a(row, start, center);
        padding: 3rem 0;
        width:50%;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 80%;
            height: 100%;
            position: absolute;
            background-color: variaveis.$verde;
            right: 0;
        }

        img{
            width: 100%;
            max-width: 400px;
            z-index: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    .clientes{
        flex-direction: column;
        height: auto;
        padding: 5rem 1.5rem;
        
        &_container{
            align-items: center;
            width: 100%;
            padding:0;
            .textos{
                align-items: center;
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                    width: 100%;
                }
            }

            .imagens_container{
                max-width: 100%;
                .imagens{           
                    gap: 1.5rem;         
                    img{
                        width: 70px;
                    }
                }
            }
        }
        &_img{
            display: none;
        }
    }
}