@use '../abstract/variaveis';
@use '../abstract/mixins';

.contato{
    @include mixins.flex-d-j-a(row, center, normal);

    &_textos{
        @include mixins.flex-d-j-a(column, center, end);
        background-color: variaveis.$laranja;
        padding: 5rem 5% 5rem 1.5rem;
        width: 50%;
        .contato-endereco{
           span{
               @include mixins.titulo();
               color: white;
               text-align:end ;
               width: 100%;
               margin-bottom: 2rem;
           }



           p{
            @include mixins.textos();
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
            text-align: end;
           }
           
           p:nth-child(3){
            font-weight: 300;
            font-size: 1rem;
            margin-top: 1rem;
           }
        }

        .contato-tel{
            margin-top: 2rem;
            span{
                display: block;
                width: 100%;
                text-align:end ;  
                font-size: 2rem;
                color: white;
            }

            ul{
                margin-top: 1rem;
                a{
                    display: block;
                    width: 100%;
                    color: white;
                    text-align: end;
                }
            }
            .contato-social{
                @include mixins.flex-d-j-a(row, end, center);
                gap: 1rem;

                li{
                    width: 20px;
                    
                    img{
                        width: 100%;
                    }
                }
            }
            .contato-email{
                font-size: 1rem;
                margin-top: 1rem;
                color: white;
                display: block;
                margin-top: 1rem;
            }
        }
    }

    &_form{
        @include mixins.flex-d-j-a(column, center, start);
        padding: 5rem 1.5rem 5rem 5%;
        width: 50%;
        gap: 1rem;

        h1{
            @include mixins.titulo();
            text-align: start;
            color: variaveis.$preto;
        }

        label{
            @include mixins.esconderConteudo();
        }

        input{
            padding: .5rem 1rem;
            border: none;
            background-color: variaveis.$cinza-claro;
            font-family: "Inter";
            width: 100%;
            max-width: 400px;
            outline: none;
        }

        textarea{
            @extend input;
        }

        button{
            @include mixins.botao();
            width: 200px;
        }

    }
}

@media screen and (max-width: 768px) {
    .contato{
        flex-direction: column;

        &_textos{
            width: 100%;
            align-items: center;

            .contato-endereco{
                span, p{
                    text-align: center;
                }
            }
            .contato-tel{
                span, ul li a{
                    text-align: center;
                }
                .contato-social{
                    justify-content: center;
                }
            }
        }

        &_form{
            width: 100%;
            align-items: center;

            h1{
                text-align: center;
            }

            button{
                margin-top: 2rem;
            }
        }
    }
}