@use '../abstract/variaveis';
@use '../abstract/mixins';

.rodape {

    background-color: variaveis.$preto;
    padding: 5rem 1.5rem;

    .subir {
        display: block;
        background-color: #000;
        height: 0px;
        width: 30px;
        position: fixed;
        bottom: 100px;
        right: 1.5rem;
        border-radius: 3px;
        transition: .5s;
        background-image: url('../img/arrow-up.svg');
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transform: translateY(100px);
        opacity: 0;
    }

    .subir-ativo {
        height: 30px;
        transform: translateY(0);
        opacity: 1;
    }

    .div-wpp{
        position: relative;
        z-index: 9999;

        .wpp {
            display: block;
            width: 50px;
            height: 50px;
            background-color: #43a737;
            position: fixed;
            bottom: 30px;
            right: 1.5rem;
            border-radius: 50%;
            box-shadow: 5px 5px -10px #000;
            background-image: url('../img/wpp.png');
            background-size: 25px;
            background-repeat: no-repeat;
            background-position: center;
        }
        .wpp-msg{
            @include mixins.flex-d-j-a(column, center, start);
            transition: .7s;
            opacity: 0;
            transform: translateY(300px);
            position: fixed;
            bottom: 95px;
            right: 1.5rem;
            z-index: 9999;  
            width: 300px;   
            box-shadow: 0px 0px 10px #00000067;
            border-radius: 10px;
            z-index: 9999;
            .span1{
                border-radius: 10px 10px 0 0 ;
                background-color: #43a737;
                padding: 1rem;
                width: 100%;
                color: white;
                font-weight: 500;
            }
            .span2{
                background-color: white;
                width: 100%;
                padding: 1rem;
                border-radius: 0 0 10px 10px;
                color: variaveis.$verde;
                strong{
                    font-weight: 500;
                    color: variaveis.$preto;
                }
            }
        }
        .wpp-msg-ativo{
            opacity: 1;
            transform: translateY(0);
        }
    }


    .botao-fechar-wpp{
        color: transparent;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #43a737;
        position: fixed;
        bottom: 250px;
        right: 1.5rem;
        border-radius: 50%;
        background-image: url('../img/x.svg');
        background-position: center;
        background-size: 20px;
        cursor: pointer;
        transition: .7s;
        opacity: 0;
        transform: translateY(300px);
    }

    .botao-fechar-wpp-ativo {
        opacity: 1;
        transform: translateY(0px);
    }

    &_container{
        @include mixins.container();
        @include mixins.flex-d-j-a(row, space-between, start);
        gap: 2rem;
        flex-wrap: wrap;
        border-bottom: 1px solid variaveis.$cinza;
        color: white;

        div{
            min-width: 190px;
        }

        .rodape-logo{
            @include mixins.logo();
            width: auto;
        }   

        .rodape-explorar{

            ul{
                h5{
                    @include mixins.subtitulo-maiusculo();
                    color: white;
                    margin-bottom: 1rem;
                    font-weight: 600;
                }
    
                a{
                    @include mixins.textos();
                    color: white;
                    display: block;
                    margin-bottom: .5rem;
                    position: relative;
                    margin-left: 1rem;

                    &::before{
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-image: url('../img/arrow-right.svg');
                        position: absolute;
                        bottom: 0;
                        left: -1.5rem;
                        background-size: 15px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                }
            }
        }

        .rodape-politica{
             h5{
                @include mixins.subtitulo-maiusculo();
                color: white;
                margin-bottom: 1rem;
                font-weight: 600;
             }
             a{
                color: white;
                margin-left: 1rem;
                position: relative;

                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/arrow-right.svg');
                    position: absolute;
                    bottom: 0;
                    left: -1.5rem;
                    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
             }
        }

        .rodape-copy{
            span{
                font-size: .9rem;
                display: block;
                max-width: 200px;
            }
            a{
                @include mixins.esconderConteudo();
            }
        }
    }

    &_creditos{

        @include mixins.flex-d-j-a(row, space-between, center);
        @include mixins.container();
        gap: 2rem;
        flex-wrap: wrap;
      
        span{
            display: block;
            color: white;
            font-size: .9rem;
        }

        .creditos{
            @include mixins.flex-d-j-a(row, center, center);
            gap: 1rem;
            flex-wrap: wrap;
    
            a{
                text-align: center;
                font-family:"Tenor Sans", sans-serif ;
                color: white;
                font-size: 1.5rem;
                width: auto;
            }
        }

    }
}



@media screen and (max-width: 768px) {
    .rodape {
        .subir {
            right: 1rem;
            bottom: 70px;
        }

        .div-wpp{     
            .wpp {
                bottom: 10px;
                right: 10px;
            }
    
            .wpp-msg{
                bottom: 70px;
                right:10px;
            }
    
            .botao-fechar-wpp{
                bottom: 225px;
                right: 10px;
            }
        }
        .rodape-logo{
            width: 100%;
        }
        .rodape-copy{
            span{
                max-width: 100%;
            }
        }

        &_creditos{
            padding-top: 2rem;
            span{
                text-align: center;
                width: 100%;
            }

            .creditos{
                a{
                    font-size: 1rem;
                }
            }
        }
    }
}