@use '../abstract/variaveis';
@use '../abstract/mixins';

.banner-sobre{
    height: 50vh;
    @include mixins.backgroundImage('../img/ofice.webp');
    @include mixins.flex-d-j-a(column, center, center);
    background-position:center; 
    
    h1{
        @include mixins.titulo();
    }
    h2{
        @include mixins.subtitulo-maiusculo();
    }
}

.sobre{
    @include mixins.flex-d-j-a(row, center, center);
    gap: 3rem;
    @include mixins.container();
    padding: 10rem 1.5rem ;

    &_texto{
        max-width: 60%;
        h2{
            @include mixins.titulo();
            text-align: start;
            color: variaveis.$laranja;
            margin-bottom: 2rem;
        }
        p{
            @include mixins.textos();
            max-width: 700px;
            font-size: 1.1rem;
            font-family: "Lora";
            line-height: 25px;
        }
    }

    &_imagem{
        width: 40%;
        position: relative;
        @include mixins.flex-d-j-a(row, center, center);
        img{
            position: relative;
            z-index: 99;
            width: 100%;
            box-shadow: 3px 3px 3px #000000a1 ;
        }

        &::before{
            content: '';
            display: block;
            width: 150px;
            height: 150px;
            background-color: variaveis.$laranja;
            position: absolute;
            border-radius: 75px 75px 0 0;
            top: -50px;
            left: -20px;
            z-index: 1;
        }
        &::after{
            content: '';
            display: block;
            width: 150px;
            height: 150px;
            background-color: variaveis.$laranja;
            position: absolute;
            border-radius: 0 0 75px 75px;
            bottom: -50px;
            right: -20px;
            z-index: 1;
        }
    }
}

.sobre-proposito{
    background-color: variaveis.$laranja;
    div{
        @include mixins.container();
        padding: 10rem 1.5rem;

        ul{
            @include mixins.flex-d-j-a(row, center, center);
            align-items: stretch;
            flex-wrap: wrap;
            gap: 2rem;
            row-gap: 3rem;

            li{
                @include mixins.flex-d-j-a(column, start, start);
                max-width: 450px;
                border-left: 3px solid #FFFF;
                border-radius: 3px;
                padding-left: 1rem;
                h3{
                    @include mixins.subtitulo();
                    color: #FFFF;
                }
                p{
                    @include mixins.textos();
                    color: #FFFF;
                }
            }
        }
    }
}


@media screen and (max-width:1024px) {
    .sobre{
        flex-direction: column;
        gap: 5rem;
        padding: 5rem 1.5rem;
        &_texto{
            max-width: 100%;
        }
        &_imagem{
            max-width: 500px;
            min-width: 300px;

            &::before{
                width: 100px;
                height: 100px;
                top: -30px;
            }
            &::after{
                width: 100px;
                height: 100px;
                bottom: -30px;
            }
        }
    }
}