//CORES 
$laranja : #eb532c;
$verde : #0f5c4a;
$preto : #1b1d1f;
$bege : #decdba;
$cinza: #686868;
$cinza-claro: #f7f7f7;

//FONTS 
$font-titulo : "Jost", sans-serif;
$font-subtitulo: "Lora", serif;
$font-textos: "Inter", sans-serif;
$font-logo: "Great Vibes", cursive;